

<% for(let i = 0; i < footer.kontakt.length; i++) { %>
    <div>
        <p id="footer_p"> 
            <%= footer.kontakt[i].firmanavn%>, 
            <%= footer.kontakt[i].adresse %>, 
            <%= footer.kontakt[i].postnr %>, 
            <%= footer.kontakt[i].telefon %>,
            <%= footer.kontakt[i].email %>
        </p>
    </div>
    <%}%>