<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head_partials.ejs %>
</head>

<body>
    <div id="wrapper" class="container">
        <header>

            <% include ../partials/admin_nav_partials.ejs %>
        </header>

        <main>

            <h1 class="admin_h1">Cykler</h1>

            <h2 class="admin_h2">Ret Cykel</h2>

            <form id="retCykel" method="POST" action="/admin_retCykel/update/<%= enCykel.id %>">
                <div class="form__inputGroup">
                    <label for="update_cykelBrand" class="input__label">Mærke</label>
                    <select name="brand" id="cykel_brand">
                        <option value="">
                           Vælg Mærke
                        </option>
                        <% for(let i = 0; i < brand.length; i++){ %>
                            <option value="<%= brand[i].id %>">
                                <%= brand[i].navn %>
                            </option>
                            <%}%>
                    </select>
                </div>
                <div class="form__inputGroup">
                    <img id="retcykel_img" src="/images/Cykler/<%= enCykel.billede %>" alt="">
                </div>
                <div class="form__inputGroup">
                    <label for="update_cykelModel">Model</label>
                    <input type="text" name="model" id="cykel_model" class="input__field" value="<%= enCykel.model %>">
                </div>
                <div class="form__inputGroup">
                    <label for="update_cykelBeskrivelse">Beskrivelse</label>
                    <textarea type="" name="beskrivelse" id="cykel_beskrivelse" class="input__field"><%= enCykel.beskrivelse %></textarea>
                </div>
                <div class="form__inputGroup">
                    <label for="update_cykelpris">Pris</label>
                    <input type="text" name="pris" id="cykel_pris" class="input__field" value="<%= enCykel.pris %>">
                </div>
                <div class="form__inputGroup">
                    <label for="update_kategori">Kategori</label>
                    <select name="kategori" id="cykel_kategori">
                        <option>
                            Vælg kategori
                        </option>
                        <% for(let i = 0; i < cykel_kat.length; i++){ %>
                            <option value="<%= cykel_kat[i].id %>">
                                <%= cykel_kat[i].navn %>
                            </option>
                            <%}%>
                    </select>
                </div>
                <div class="form__inputGroup">
                    <label for="update_cykeltilbudspris">Tilbudspris</label>
                    <input type="text" name="tilbudspris" id="cykel_tilbudspris" class="input__field" value="<%= enCykel.tilbudspris %>">
                    <p>OBS! Indtast en pris i feltet så fremt cyklen skal være på tilbud. Ellers efterlades feltet tomt. Har
                        cyklen været på tilbud men skal ikke længere være det, fjern da bare prisen.
                    </p>
                </div>
                <button type="submit" onclick="return minConfirmSlet('Er du sikker på du vil rette?', 'Dine ændringer er blevet gemt')">Gem</button>
            </form>

        </main>
        <footer>
        </footer>
    </div>

    <script>
        //Get select object
        var objSelect = document.getElementById("cykel_brand");
        setSelectedValue(objSelect, "<%= enCykel.fk_brand %>");

        var objSelect = document.getElementById("cykel_kategori");
        setSelectedValue(objSelect, "<%= enCykel.fk_kategori %>");
        console.log(objSelect);

        //Set selected
        function setSelectedValue(selectObj, valueToSet) {
            for (var i = 0; i < selectObj.options.length; i++) {
                if (selectObj.options[i].value == valueToSet) {
                    selectObj.options[i].selected = true;
                    return;
                };
            };
        };
    </script>
</body>


</html>